* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  background: dimgray;
}

button {
  padding: 0.5em;
  margin: 0.5em;
}

input {
  height: 2em;
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: #f4f4f4;
  border-radius: 14px;
  margin: auto;
  padding: 4em;
  margin: 1em;
  height: 70%;
}

#start-game {
  padding: 0.5em;
  font-size: 1.5em;
}

#inGame-screen {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  background: #f4f4f4;
  width: 100%;
  height: 100%;
}

#board-pixels {
  height: calc(100vh - 5em);
  flex-basis: 70%;
  display: grid;
  width: 100%;
}

.pixel {
  background: white;
  border: 1px solid #ccc;
  margin: 0 5px 5px 0;
  width: 100%;
  height: 100%;
}

#controls-container {
  flex-basis: 30%;
  background: #f4f4f4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-size {
  height: 30%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

#colors-palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em;
}

.color {
  height: 50px;
  width: 50px;
  border: 1px solid;
  border-radius: 4px;
}

.active {
  border: 5px solid greenyellow;
}

#buttons-control {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 30%;
  align-items: center;
  width: 100%;
  justify-content: center;
}

#buttons-control .show-hide-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
}
