:root {
  --black: #0c0f0a;
  --white: #f2f2f2;
  --pink: #ff206e;
  --yellow: #fbff12;
  --gray: #292929;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  font-size: 18px;
}

body {
  height: 100vh;
  min-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  background: var(--black);
  color: var(--white);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  all: unset;
  border: 1px solid var(--black);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  padding: 1em;
  color: var(--white);
  background: var(--black);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

button:hover {
  color: var(--pink);
  background: var(--white);
  border: 1px solid var(--pink);
}

#controls-container button {
  border-radius: 14px;
  text-transform: uppercase;
  padding: 1em;
  color: var(--white);
  background: var(--pink);
  margin: 0.25em;
  text-align: center;
}

#controls-container button:hover {
  color: var(--pink);
  background: var(--yellow);
}

input {
  height: 3em;
}

input[type="color"] {
  overflow: hidden;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: var(--white);
  color: var(--black);
  border-radius: 14px;
  margin: auto;
  padding: 4em;
  margin: 1em;
  height: 70%;
}

#main-screen {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  background: var(--black);
  width: 100%;
  height: 100%;
}

#board-pixels {
  height: calc(100vh - 5em);
  flex-basis: 60%;
  display: grid;
  width: 100%;
  background: var(--white);
}

.pixel {
  background: white;
  border: 1px solid #ccc;
  margin: 0 5px 5px 0;
  width: 100%;
  height: 100%;
}

#controls-container {
  flex-basis: 40%;
  background: var(--gray);
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow-y: scroll;
  padding: 2em 0;
}

.grid-size {
  display: flex;
  flex-direction: row;
  padding: 2em;
  padding-top: 0;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-size > * {
  flex-grow: 1;
}

.grid-size :nth-child(1) {
  width: 100%;
}

#colors-palette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2em;
}

#colors-palette :nth-child(1) {
  width: 100%;
}

.color {
  height: 50px;
  width: 50px;
  border: 1px solid;
  border-radius: 100%;
  margin: 0.25em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.active {
  border: 5px solid greenyellow;
}

#buttons-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em;
  padding-bottom: 0;
}

#buttons-control button {
  flex-grow: 1;
}

#buttons-control .show-hide-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  width: 100%;
}
